
<h1 class="pb-4">History of Cafe</h1>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>


<section class="px-4 py-5 my-5 text-center">
    <img src="/img/brewer.png" class="d-block mx-auto mb-4 img-fluid" alt="Coffee" width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">Enjoy Your New Coffee Recipe here today!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            <br>Everyone enjoys the taste of craft coffee, but no one enjoys shelling out $6 each time they want a fancy cold brew or a perfectly frothed latte. Even if buying coffee is a weekly treat (at most), those expenses add up — at the end of the month, you're looking at nearly $25 worth of coffee that you could have made at home for way less. <br><br>

            And, according to Pinterest, people seem to be catching onto that idea. Searches are up 3,595% year-over-year for "iced coffee recipes at home" and searches for "at home coffee bar" are up 647% from last year. So, if you're looking to ditch the drive-thru and elevate your at-home coffee experience, you're in luck.
        </p>
    </div>