
<h1 class="pb-4">Contact</h1>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </nav>


<section class="px-4 py-5 my-5 text-center">
    <img src="/img/self.png" class="d-block mx-auto mb-4 img-fluid" alt="Author" width="450" height="150" loading="lazy">
    <h1 class="display-5 fw-bold">Hello I'm Saran!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Name: Saran Noyprecha <br> StudentID: 62130010059 <br>
        </p>
        <a href="https://www.facebook.com/najaxy9"><img src="/img/facebook-logo.png"  alt="fblogo" width="50" height="50" loading="lazy"></a> &nbsp;&nbsp;
        <a href="https://www.instagram.com/najasrn"><img src="/img/instagram.png" alt="iglogo" width="50" height="50" loading="lazy"></a> &nbsp;&nbsp;
        <a href="https://mail.google.com/mail/u/?authuser=sarannoyprecha@gmail.com"><img src="/img/mail.png" alt="mail" width="50" height="50" loading="lazy"></a>
    </div>